.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem 0;
  font-family: Arial, Helvetica, sans-serif;
}

.flex-item {
  flex: 1 1 300px;
  background-color: #dcdcdc;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

ol {
  padding-left: 1.5rem;
}

li {
  margin: 0.5rem 0;
}

button {
  margin-left: 1rem;
  padding: 0.3rem 0.7rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
  font-family: Arial, Helvetica, sans-serif;
}

button:disabled {
  background-color: #cb0000;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #45a049;
}

.home-image img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 12px;
  position: relative;
  margin-bottom: 2rem;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.buddy-image {
  margin: 2rem auto;
  width: 200px;
  height: auto;
  object-fit: contain;
}

.image-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.signup-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 12px;
}

.sign-up {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: xx-small;
  background-color: #f0f0f0;
  padding: 0.5rem;
}
.title {
  text-align: center;
  font-size: 5rem;
  font-family: Arial, Helvetica, sans-serif;
}
.about-content {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.about-text {
  max-width: 700;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  white-space: normal;
  flex: 1;
  margin-left: 40px;
}
.about-text-first {
  font-weight: bold;
}

.about-image {
  max-width: 40%;
  height: auto;
  border-radius: 10px;
  flex: 1;
}
@media (max-width: 900px) {
  .flex-container {
    flex-direction: column;
    gap: 1rem;
  }

  .flex-item {
    flex: 1 1 100%;
    font-size: 1rem;
  }
  .signup-image {
    width: 100%;
  }
  .about-text {
    font-size: 1rem;
  }
}
@media (max-width: 400px) {
  .flex-container {
    flex-direction: column;
    gap: 1rem;
  }

  .flex-item {
    flex: 1 1 100%;
    font-size: 0.5rem;
  }
  .signup-image {
    width: 100%;
  }
  .about-text {
    font-size: 0.5rem;
  }
  .footer {
    display: none;
  }
}
